@{
    ViewData["Title"] = "Test Page";
}

@model SurveyQuestionViewModel

<p>Thank you for taking this survey. Your answers have (not actually) been recorded.</p>

<p>Ideally, this page would eventually present a proper "submit" button along with a "back" option to review answers, or alternatively, a view of all answers.</p>