@{
    ViewData["Title"] = "Test Page";
}

<p>Welcome to your doctor's office. Please fill out the following questionnaire so we can better assess your symptoms.</p>
<form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="qIndex" placeholder="index!" aria-label="QIndex" aria-describedby="search-button">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="search-button">Search</button>
        </div>
    </div>
</form>