@{
    ViewData["Title"] = "Test Page";
}

<p>Welcome to your doctor's office. Please fill out the following questionnaire so we can better assess your symptoms.</p>
<form method="post">
	<div>
		<button class="btn btn-outline-primary" type="submit" name="qIndex" value="1" id="begin-button">Begin</button>
    </div>
</form>