@{
    ViewData["Title"] = "Short Answer";
}

@model SurveyQuestionViewModel

<div>
<p>@Model.QuestionText</p>
<form method="post">
    <textarea class="form-control" name="answer" placeholder="@Model.Answers" rows="3"></textarea>
    <button class="btn-right btn btn-outline-primary" type="submit" value="@(int.Parse(Model.QIndex) + 1)" name="qIndex" id="submit-button">Next</button>
</form>

<form method="post">
	<button class="btn btn-left btn-outline-primary" type="submit" name="qIndex" value="@(int.Parse(Model.QIndex) - 1)" id="back-button">Back</button>
</form>
</div>