@{
    ViewData["Title"] = "Short Answer";
}

<p>This is a question and will be replaced with a model later.</p>
<form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="answer" placeholder="Your answer..." aria-label="Answer" aria-describedby="submit-button">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="submit-button">Next/Submit</button>
        </div>
    </div>
</form>

<p>A back button should be here.</p>